/* reset */
*{
   
    margin: 0;
    box-sizing: border-box;
}

*:not(ul){
    padding:0;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

.striked-text{
    text-decoration: line-through;
}

.bf-remove-btn{
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    cursor:pointer;
    display:inline-block;
    margin-left: auto;
    border: 1px solid slategray;
    border-radius: 0.3rem;
    background-color: slategray;
    color: rgb(50, 50, 50);
}

.bf-remove-btn:hover{
    color: red;
    background-color: lightgrey;
    box-shadow: inset 1px black;
}
