<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDoList</title>

        <!--Google Fonts-->
        

        <!-- FA -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        
        
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">

        <!-- VUE -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        
        
    </head>
    
    <body >

        <div class="container">

            <div id="app">

                <div>

                    <!-- <form  @submit.prevent="addToDo()" action=""> -->
                        <input @keyup.enter="addToDo()" required type="text" name="" id="" v-model="newToDo.text">
    
                        <button @click="addToDo()">
                            Aggiungi
                        </button>
                    <!-- </form> -->

                </div>

                <ul>

                    <li v-for="(singleToDo,index) in toDos" >

                       <span :class = "(singleToDo.done)? 'striked-text': ''">
                        {{singleToDo.text}}
                       </span>

                        <div @click="removeToDo(index)" class="bf-remove-btn">
                            &cross;
                        </div>

                    </li>

                </ul>

            </div>

        </div>
        
    
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="js/my-script.js"></script>
    </body>

</html>